* {
    box-sizing: border-box;
    white-space: nowrap;
}

:root {
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 100px 1fr 50px / 300px 1fr;
}

#header {
    grid-area: 1 / 1 / 2 / span 2;
    background-color: rgb(0,100,50);
    color: white;
    font-weight: bold;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 40px;
    height: 100%;
    width: 100%;
}

.logoImg {
    width: 80px;
    height: 80px;
    filter: invert();
}

#logoTxt {
    font-size: 4.5rem;
}

#sidebar {
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgb(0,200,100);
}

#sidebarHeader {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#sidebarProjects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    height: 50px;
    margin: 5px;
    padding: 5px;
    width: 290px;
    display: grid;
    grid-template-rows: 20px 15px;
    border: 2px solid black;
    background-color: rgb(245,245,245);
    transition: background-color 0.5s;
    border-radius: 10px;
}

.project:hover {
    background-color: rgb(255,200,200);
}

.activeProject {
    background-color: rgb(255,250,230);
    border: 2px solid rgb(50,50,255);
}

.projectTitle {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projectDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}

#content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(245,245,245);
    display: flex;
    flex-direction: column;
    grid-template-rows: 50px 1fr;
    align-items: center;
    width: 100%;
}

#contentHeader {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#contentTodoContainer {
    margin: 40px;
    width: 80%;
    min-height: 400px;
    border: 2px solid black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#footer {
    grid-area: 3 / 1 / 4 / span 2;
    background-color: rgb(0,100,50);
}

.todo {
    min-height: 40px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.todoHeading {
    display: grid;
    grid-template: 20px 20px / 1fr 100px 30px;
    align-items: center;
    padding: 5px;
    background-color: rgb(240,240,240);
}

.todoTitle {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: bold;
}

.todoDescription {
    grid-area: 2 / 1 / 3 / 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}

.todoDueDate {
    grid-area: 1 / 2 / 2 / 3;
}

.todoExpandDiv {
    grid-area: 1 / 3 / 3 / span 2;
    height: 40px;
    display: grid;
    align-items: center;
}

.todoBody {
    padding: 5px;
    height: auto;
    transition: all 0.3s;
    transition-timing-function: ease;
}

.detailHidden {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0px;
    overflow: hidden;
}

button {
    background-color: rgb(255,250,230);
    height: 30px;
    font-weight: bold;
    font-size: 1rem;
}

button:hover {
    background-color: rgb(230,230,200);
}

button:active {
    background-color: rgb(255,200,200);
}